
{{!
    @template local_activities/email_comment_html

    Template for comment email html.

}}
<h3>{{user.firstname}} added a comment:</h3>

<!-- Details -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="20">
                <tr>
                    <td style="border-radius: 3px;" bgcolor="#f0f4f6">
                        <div style="font-size: 15px;font-family: Helvetica, Arial, sans-serif;text-decoration: none;border-radius: 3px;display: block;">
                            {{{comment.comment}}}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr> 
        <td height="20"></td> 
    </tr>
</table>

<!-- Action button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="border-radius: 3px;" bgcolor="#005892">
                        <a href="{{activity.manageurl}}" target="_blank" style="font-size: 16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 12px 18px; border: 1px solid #005892; display: inline-block;">View online and respond &rarr;</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

