
<tr><td width="120"><strong>Activity name: </strong></td><td>{{activity.activityname}}</td></tr>
<tr><td><strong>Start: </strong></td><td>{{activity.startreadabletime}}</td></tr>
<tr><td><strong>End: </strong></td><td>{{activity.endreadabletime}}</td></tr>
<tr><td><strong>Location: </strong></td><td>{{^activity.isactivity}}(Incursion) {{/activity.isactivity}}{{activity.location}}</td></tr>
{{#activity.isactivity}}
  {{#activity.transport}}<tr><td><strong>Transport: </strong></td><td>{{activity.transport}}</td></tr>{{/activity.transport}}
  {{#activity.cost}}<tr><td><strong>Cost: </strong></td><td>{{activity.cost}}</td></tr>{{/activity.cost}}
{{/activity.isactivity}}
<tr><td><strong>Staff in charge: </strong></td><td>{{activity.staffinchargedata.fn}} {{activity.staffinchargedata.ln}}</td></tr>
<tr><td><strong>Description: </strong></td><td>{{{activity.description}}}</td></tr>