
{{!
    @template local_activities/email_status_html

    Template for status email html.

}}
<p>The status of your activity has changed to: </p>
<h2>
    <strong>
        {{#newstatus.inreview}}
            {{#str}}status:inreview, local_activities{{/str}}
        {{/newstatus.inreview}}
        {{#newstatus.isapproved}}
            {{#str}}status:approved, local_activities{{/str}}
        {{/newstatus.isapproved}}
        {{#newstatus.iscancelled}}
            {{#str}}status:cancelled, local_activities{{/str}}
        {{/newstatus.iscancelled}}
    </strong>
</h2>

<!-- Details -->
{{#activity}}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="20">
                    <tr>
                        <td style="border-radius: 3px;" bgcolor="#f0f4f6">
                            <div style="font-size: 15px;font-family: Helvetica, Arial, sans-serif;text-decoration: none;border-radius: 3px;display: block;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    {{>local_activities/email_activity_details}}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr> 
            <td height="20"></td> 
        </tr>
    </table>
{{/activity}}

<!-- Action button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="border-radius: 3px;" bgcolor="#005892">
                        <a href="{{activity.manageurl}}" target="_blank" style="font-size: 16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 12px 18px; border: 1px solid #005892; display: inline-block;">View the activity online &rarr;</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

