{{!
    @template local_activities/email_attendance_reminder_html

    Template for attendance reminder email.
}}

<p>Your activity, {{activityname}}, is over. We hope it was a success.</p>
<p>Now that you’re back at School, please check the student list so that it accurately reflects who attended the activity.</p>
<p>It is necessary that you check this list within 24 hours to ensure accuracy of student attendance records.</p>

<!-- Action button -->
<table cellspacing="0" cellpadding="0" style="font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100%;">  
    <tr>
        <td align="left" style="font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;">
            <table cellpadding="0" cellspacing="0" border="0" class="bg-blue rounded w-auto" style="font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; border-collapse: separate; width: auto; color: #ffffff; border-radius: 3px;" bgcolor="#206cc5">
                <tr>
                    <td align="left" valign="top" class="lh-1" style="font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; line-height: 100%;">
                        <a href="{{manageurl}}" class="btn bg-blue border-blue" style="color: #ffffff; padding: 12px 32px; border: 1px solid #206cc5; text-decoration: none; white-space: nowrap; font-weight: 600; font-size: 16px; border-radius: 3px; line-height: 100%; display: block; -webkit-transition: .3s background-color; transition: .3s background-color; background-color: #206cc5;">
                            <span class="btn-span" style="color: #ffffff; font-size: 16px; text-decoration: none; white-space: nowrap; font-weight: 600; line-height: 100%;">Click to check student list &rarr;</span>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

