/* if you have any mantine imports, you can include that here as well */
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";

@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

body { 
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; 
}
@supports (font-variation-settings: normal) {
  body { 
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; 
    font-feature-settings: "cv03", "cv04", "cv11";
  }
}

body {
  background-color: #f1f5f9 !important;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1d273b;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.page-header {
  margin: 1.25rem 0 0;
}
.page-pretitle {
  font-size: .625rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1rem;
  color: #616876;
}
.page-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
}
table thead th {
  background: #f8fafc;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1rem;
  color: #616876;
  padding-top: .5rem;
  padding-bottom: .5rem;
  white-space: nowrap;
}
.td-truncate {
  width: 1px;
}
.mantine-InputWrapper-label {
  padding-bottom: 5px;
}
.MuiInputBase-input {
  padding: 8px !important;
}
/* Component CSS */
.student-list-table th {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500 !important;
  font-size: 0.875rem;
  color: #000 !important;
}
.student-list-table th:first-of-type {
  width: 5%;
}
.student-list-table.showpermissions-true th:nth-of-type(2) {
  width: 5%;
}





/* Calendar View */
.full-calendar {
  width: 100%;
  min-width: 920px;
  table-layout: fixed;
  background-color: #fff;
}
.full-calendar td {
  vertical-align: top;
}
.full-calendar thead td {
  background-color: #59a5d7;
  border: 1px solid #59a5d7;
  border-bottom: 2px solid #59a5d7;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 5px;
}
.full-calendar tbody td {
  padding: 6px 9px;
  border: 1px solid #ebebeb;
  display: table-cell;
  width: 14.286%;
  height: 134px;
}
.full-calendar tbody td.pre,
.full-calendar tbody td.post {
  background-color: #fafafa;
}
.full-calendar tbody td ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.full-calendar .day-num {
  font-size: 17px;
  color: #343434;
}
.full-calendar .te-start-time {
  border-bottom: 1px solid #fff;
  font-family: "Montserrat";
  font-size: 12px;
  padding-bottom: 2px;
  color: #59a5d7;
}
.full-calendar .te-title {
  color: #404040;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
}
.full-calendar .te-link {
  display: block;
  width: 100%;
}
.full-calendar .te-link:hover .te-start-time {
  border-bottom: 1px solid;
  color: #59a5d7;
}
@media only screen and (max-width: 991px) {
  .calendar-full-wrap .container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: auto;
    overflow-x: scroll;
  }
  .calendar-full-wrap .container .full-calendar {
    margin: 0;
  }
}



/* Preview email */
.browser-window {
  width: 100%;
}
.browser-window .top-bar {
  background: linear-gradient(#e7e7e6, #e2e2e1);
}
.browser-window .content {
  margin: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
  padding: 20px;
}
.browser-window .content a {
  pointer-events: none;
}